body {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.0;
}

#navbar, #head {
      background-color: #e6e6e6;
}

#main-content {
    background-color: #f4f4f4;
}

.desc {
    font-size: 18px;
}